*{
    background-image:url("onsap4.png");
}
.title{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10fr;
    color: rgb(255, 0, 0);
    text-align: center;
    padding-top: 8.5em;
    font-weight: bolder;
    font-size: 2em;
}